<%= form_with(model: user, local: true, id: 'users') do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :user_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :user_last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.date_select :dob, id: :user_dob %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script type="text/javascript">
  $("#users").validate({
   rules: {
    "user[first_name]": "required",
    "user[last_name]": "required",
    "user[email]": {
        required: true,
        // Specify that email should be validated
        // by the built-in "email" rule
        email: true
      },
   }
  })

</script>